@import "tailwindcss";

@theme {
  --color-back: #2a323f;
  --color-primary: #ff9301;
  --color-secondary: #03698d;
}

@font-face {
  font-family: "roca";
  src: url("../src/Components/Utils/Fonts/Roca\ Two\ Black.ttf")
    format("truetype");
}
@font-face {
  font-family: "rocalight";
  src: url("./Components/Utils/Fonts/Roca\ light.ttf") format("truetype");
}

* {
  font-family: "roca";
}

.light {
  font-family: "rocalight";
}

/* Hide scrollbar but keep scrolling */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
